# https://stackoverflow.com/questions/48330613/objectmapper-cant-deserialize-without-default-constructor-after-upgrade-to-spri?rq=1
# https://stackoverflow.com/questions/49999492/immutable-lombok-annotated-class-with-jackson
# https://stackoverflow.com/questions/51464720/lombok-1-18-0-and-jackson-2-9-6-not-working-together
lombok.anyConstructor.addConstructorProperties = true
lombok.equalsAndHashCode.callSuper = call